
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424; 
  color: rgba(255, 255, 255, 0.87); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

p {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 1rem;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  background-color: #333;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.card-flag {
  max-width: 100px;
  margin-bottom: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr; 
  }

  h1 {
    font-size: 2rem;
  }
}
